body {
    font-family: Arial;
    text-align: center;
background-color:rgb(224, 235, 239);
}

.login-card {
   
    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.login-card h2 {
    margin-bottom: 20px;
}

.login-card input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.login-card button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.signup-btn {
    background-color: #4caf50;
    color: white;
}

.login-btn {
    background-color: #2196f3;
    color: white;
}

.login-card button:hover {
    opacity: 0.9;
}


.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.product {
  border: 1px solid #ccc;
  display: inline-block;
  margin: 20px;
  padding: 50px;
  border-color: black;
 
}
button {
    padding: 10px;
    margin: 5px;
}
.product img{
    width:180px;
    height:180px;
    border-color: black;
}
